<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script type="module" src="index.js"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>

</head>
<body>
    <h1></h1>
    <main></main>
    <div id="dialog-overlay" data-hidden="1">
        <div class="dialog">
            <h2 id="dialog-title"></h2>
            <div id="dialog-content"></div>
            <div class="buttons">
                <button id="accept-dialog">Accept</button>
                <button id="close-dialog">Cancel</button>
            </div>
        </div>
    </div>
</body>
</html>